/* Give your page a fun background color */
body {
  background-color: #3ea3b5;
}
/* Make the header and footer a different color from the background */
header {
  background-color: #ddd;
}

footer {
  background-color: #ddd
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  color: green;
  font-size: 30px;
  font-style: italic;

}
/* Put a border around your image */
img {
  border: 10px solid #ddd;
   border-radius: 4px;
   padding: 10px;
   width: 150px;
width: 33%;
}
/* Change the font-family of your list */
li {
  font-family: fantasy;
}
